<a href="https://colab.research.google.com/github/Sushant6862/Jeremy-Howard-Squadron-/blob/main/Assignment_List_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Problem 1
A list contains the average daily temperature(in degree Celsius) of a city over a particular week. Write a Python code to swap the highest and the lowest temperatures.

In [2]:
# A list containing average daily temperature over a week
temperatures = [34, 40, 29, 33, 42, 37, 39 ]

# The expected output
# output_temperatures = [34, 40, 42, 33, 29, 37, 39]

In [6]:
# Store the highest temperature
max_temp = max(temperatures)
max_temp

42

In [33]:
# Index of the element with the highest temperature
temperatures.sort()

max_temp_index = temperatures.index(42)
max_temp_index

6

In [34]:
# Store the lowest temperature
min_temp = min(temperatures)
min_temp

29

In [36]:
# Index of the element with the lowest temperature
min_temp_index = temperatures.index(29)
min_temp_index

0

In [19]:
# Swap the highest and the lowest temperatures
temperatures = [34, 40, 29, 33, 42, 37, 39 ]
temperatures.sort()
temperatures

[29, 33, 34, 37, 39, 40, 42]

In [22]:
def swapList(newList):
    size = len(newList)

    # Swapping
    temp = newList[0]
    newList[0] = newList[size - 1]
    newList[size - 1] = temp

    return newList

newList = [29, 33, 34, 37, 39, 40, 42]

print(swapList(newList))

[42, 33, 34, 37, 39, 40, 29]

In [23]:
# Print the output list
temperatures = [34, 40, 29, 33, 42, 37, 39 ]
print(temperatures)

[34, 40, 29, 33, 42, 37, 39]

## Problem 2
Measures of Averages

In [37]:
# List of product prices

prod_price_list = [400, 250, 800, 550, 600, 820, 720, 15000, 360,250]
prod_price_list

[400, 250, 800, 550, 600, 820, 720, 15000, 360, 250]

In [39]:
prod_price_list.sort()
prod_price_list

[250, 250, 360, 400, 550, 600, 720, 800, 820, 15000]

In [44]:
# Calculate the mean of the product prices. Use list functions. Also print the mean_price
n=10
n

10

In [45]:
total_sum=250+250+360+400+550+600+720+800+820+15000
total_sum

19750

In [46]:
mean_price=total_sum/n
mean_price

1975.0

In [ ]:
# Step 1 - Obtain the sorted list. Print the sorted_prices

In [47]:
prod_price_list.sort()
prod_price_list

[250, 250, 360, 400, 550, 600, 720, 800, 820, 15000]

In [56]:
# Check if the number of elements in the list is even or odd
prod_price = [400, 250, 800, 550, 600, 820, 720, 15000, 360,250]
for i in prod_price:
  if i % 2==0 :
     print("Element is even")
  else:
    print("Element is odd")

Element is even
Element is even
Element is even
Element is even
Element is even
Element is even
Element is even
Element is even
Element is even
Element is even

In [57]:
# Use the corresponding formula to calculate the median and print the median
median_price = (550+600)/2
median_price

575.0

In [58]:
# Check which is greater, mean or median
median=575
mean=1975
if mean > median :
  print("mean is greater")
else:
  print("median is greater")

mean is greater

##Problem 3
Having a nested list sometimes might be a bit problematic. An individual was asked to collect the names of companies in the technology sector. While creating the list, by mistake the last three companies were subsumed in a list as shown below. You are required to get rid of the nesting

In [ ]:
tech_companies = ['Qualcomm','Google','Apple',['Nvidia','Cisco','Samsung']]