<a href="https://colab.research.google.com/github/Sushant6862/Jeremy-Howard-Squadron-/blob/main/Assignment_List_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Problem 1
A list contains the average daily temperature(in degree Celsius) of a city over a particular week. Write a Python code to swap the highest and the lowest temperatures.

In [2]:
# A list containing average daily temperature over a week
temperatures = [34, 40, 29, 33, 42, 37, 39 ]

# The expected output
# output_temperatures = [34, 40, 42, 33, 29, 37, 39]

In [6]:
# Store the highest temperature
max_temp = max(temperatures)
max_temp

42

In [33]:
# Index of the element with the highest temperature
temperatures.sort()

max_temp_index = temperatures.index(42)
max_temp_index

6

In [34]:
# Store the lowest temperature
min_temp = min(temperatures)
min_temp

29

In [36]:
# Index of the element with the lowest temperature
min_temp_index = temperatures.index(29)
min_temp_index

0

In [19]:
# Swap the highest and the lowest temperatures
temperatures = [34, 40, 29, 33, 42, 37, 39 ]
temperatures.sort()
temperatures

[29, 33, 34, 37, 39, 40, 42]

In [22]:
def swapList(newList):
    size = len(newList)

    # Swapping
    temp = newList[0]
    newList[0] = newList[size - 1]
    newList[size - 1] = temp

    return newList

newList = [29, 33, 34, 37, 39, 40, 42]

print(swapList(newList))

[42, 33, 34, 37, 39, 40, 29]

In [23]:
# Print the output list
temperatures = [34, 40, 29, 33, 42, 37, 39 ]
print(temperatures)

[34, 40, 29, 33, 42, 37, 39]

## Problem 2
Measures of Averages