<a href="https://colab.research.google.com/github/Sushant6862/Jeremy-Howard-Squadron-/blob/main/EDA_Project_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# importing pandas module
import pandas as pd
# Here we import pandas libray

# making data frame
# df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/travel_data.xls")
data = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/travel_data.xls')

# calling head() method --> it gives first 5 rows
data.head()
# it gives me default value of sheet1 Tab

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62
0,Last Updated Date,2019-03-21 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2.009000e+03,2.010000e+03,2.011000e+03,2.012000e+03,2.013000e+03,2.014000e+03,2.015000e+03,2.016000e+03,2.017000e+03,2018.0
3,World,WLD,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,...,8.975338e+08,9.563723e+08,9.975553e+08,1.054602e+09,1.106732e+09,1.159450e+09,1.206216e+09,1.250468e+09,1.341457e+09,NaN
4,High income,HIC,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,...,5.483952e+08,5.794189e+08,6.058485e+08,6.320718e+08,6.635699e+08,7.053862e+08,7.386434e+08,7.751152e+08,8.212955e+08,NaN

In [ ]:
data.info()
#  info() method  used to print information about data frame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 267 entries, 0 to 266
Data columns (total 63 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Data Source                   266 non-null    object
 1   World Development Indicators  266 non-null    object
 2   Unnamed: 2                    265 non-null    object
 3   Unnamed: 3                    265 non-null    object
 4   Unnamed: 4                    1 non-null      float64
 5   Unnamed: 5                    1 non-null      float64
 6   Unnamed: 6                    1 non-null      float64
 7   Unnamed: 7                    1 non-null      float64
 8   Unnamed: 8                    1 non-null      float64
 9   Unnamed: 9                    1 non-null      float64
 10  Unnamed: 10                   1 non-null      float64
 11  Unnamed: 11                   1 non-null      float64
 12  Unnamed: 12                   1 non-null      float64
 13  Unnamed: 13                   1 non-null      float64
 14  Unnamed: 14                   1 non-null      float64
 15  Unnamed: 15                   1 non-null      float64
 16  Unnamed: 16                   1 non-null      float64
 17  Unnamed: 17                   1 non-null      float64
 18  Unnamed: 18                   1 non-null      float64
 19  Unnamed: 19                   1 non-null      float64
 20  Unnamed: 20                   1 non-null      float64
 21  Unnamed: 21                   1 non-null      float64
 22  Unnamed: 22                   1 non-null      float64
 23  Unnamed: 23                   1 non-null      float64
 24  Unnamed: 24                   1 non-null      float64
 25  Unnamed: 25                   1 non-null      float64
 26  Unnamed: 26                   1 non-null      float64
 27  Unnamed: 27                   1 non-null      float64
 28  Unnamed: 28                   1 non-null      float64
 29  Unnamed: 29                   1 non-null      float64
 30  Unnamed: 30                   1 non-null      float64
 31  Unnamed: 31                   1 non-null      float64
 32  Unnamed: 32                   1 non-null      float64
 33  Unnamed: 33                   1 non-null      float64
 34  Unnamed: 34                   1 non-null      float64
 35  Unnamed: 35                   1 non-null      float64
 36  Unnamed: 36                   1 non-null      float64
 37  Unnamed: 37                   1 non-null      float64
 38  Unnamed: 38                   1 non-null      float64
 39  Unnamed: 39                   226 non-null    float64
 40  Unnamed: 40                   231 non-null    float64
 41  Unnamed: 41                   232 non-null    float64
 42  Unnamed: 42                   234 non-null    float64
 43  Unnamed: 43                   234 non-null    float64
 44  Unnamed: 44                   238 non-null    float64
 45  Unnamed: 45                   238 non-null    float64
 46  Unnamed: 46                   236 non-null    float64
 47  Unnamed: 47                   237 non-null    float64
 48  Unnamed: 48                   240 non-null    float64
 49  Unnamed: 49                   243 non-null    float64
 50  Unnamed: 50                   244 non-null    float64
 51  Unnamed: 51                   245 non-null    float64
 52  Unnamed: 52                   246 non-null    float64
 53  Unnamed: 53                   244 non-null    float64
 54  Unnamed: 54                   245 non-null    float64
 55  Unnamed: 55                   243 non-null    float64
 56  Unnamed: 56                   240 non-null    float64
 57  Unnamed: 57                   239 non-null    float64
 58  Unnamed: 58                   236 non-null    float64
 59  Unnamed: 59                   237 non-null    float64
 60  Unnamed: 60                   231 non-null    float64
 61  Unnamed: 61                   216 non-null    float64
 62  Unnamed: 62                   1 non-null      float64
dtypes: float64(59), object(4)
memory usage: 131.5+ KB

In [ ]:
data.describe()
# We get the statistically data

,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,...,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62
count,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,2.440000e+02,2.450000e+02,2.430000e+02,2.400000e+02,2.390000e+02,2.360000e+02,2.370000e+02,2.310000e+02,2.160000e+02,1.0
mean,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,1966.0,1967.0,1968.0,1969.0,...,3.273153e+07,3.475340e+07,3.643667e+07,3.890776e+07,4.098795e+07,4.325659e+07,4.472910e+07,4.712688e+07,5.401485e+07,2018.0
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.018528e+08,1.075476e+08,1.130760e+08,1.200512e+08,1.262412e+08,1.323221e+08,1.375300e+08,1.440077e+08,1.597670e+08,NaN
min,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,1966.0,1967.0,1968.0,1969.0,...,1.600000e+03,1.700000e+03,1.200000e+03,1.100000e+03,1.300000e+03,1.400000e+03,2.015000e+03,2.016000e+03,2.017000e+03,2018.0
25%,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,1966.0,1967.0,1968.0,1969.0,...,3.447500e+05,3.360000e+05,3.515000e+05,4.155000e+05,4.335000e+05,4.626500e+05,4.751000e+05,5.180000e+05,6.620000e+05,2018.0
50%,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,1966.0,1967.0,1968.0,1969.0,...,1.490800e+06,1.555000e+06,1.894000e+06,1.943000e+06,2.012000e+06,2.230500e+06,2.110000e+06,2.789000e+06,3.350000e+06,2018.0
75%,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,1966.0,1967.0,1968.0,1969.0,...,1.052575e+07,1.192600e+07,1.211250e+07,1.131700e+07,1.247950e+07,1.492450e+07,1.672800e+07,1.775750e+07,2.130978e+07,2018.0
max,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,1966.0,1967.0,1968.0,1969.0,...,8.975338e+08,9.563723e+08,9.975553e+08,1.054602e+09,1.106732e+09,1.159450e+09,1.206216e+09,1.250468e+09,1.341457e+09,2018.0

In [ ]:
data.tail()
# it gives by default last 5 rows data

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62
262,Syrian Arab Republic,SYR,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,...,6092000.0,8546000.0,5070000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263,Turkmenistan,TKM,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
264,Virgin Islands (U.S.),VIR,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,...,563000.0,572000.0,567000.0,619000.0,590000.0,615000.0,642000.0,667000.0,NaN,NaN
265,Kosovo,XKX,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
266,"Yemen, Rep.",YEM,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,...,1028000.0,1025000.0,829000.0,874000.0,990000.0,1017500.0,366700.0,NaN,NaN,NaN

In [ ]:
data.tail(20)
# here we get last 20 rows data

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62
247,Liberia,LBR,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
248,Libya,LBY,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
249,Low income,LIC,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,...,1.986028e+07,2.352927e+07,2.122100e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN
250,St. Martin (French part),MAF,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
251,Mauritania,MRT,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
252,Nigeria,NGA,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,...,1.414000e+06,1.555000e+06,7.150000e+05,486000.0,600000.0,NaN,1255000.0,1889000.0,NaN,NaN
253,Nauru,NRU,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
254,Pakistan,PAK,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,...,8.550000e+05,9.070000e+05,1.161000e+06,966000.0,NaN,NaN,NaN,NaN,NaN,NaN
255,Papua New Guinea,PNG,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,...,1.210000e+05,1.400000e+05,1.580000e+05,168000.0,174000.0,182000.0,185000.0,179000.0,NaN,NaN
256,"Korea, Dem. People’s Rep.",PRK,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
257,Rwanda,RWA,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,...,5.020000e+05,5.040000e+05,6.880000e+05,815000.0,864000.0,926000.0,987000.0,932000.0,NaN,NaN
258,Sierra Leone,SLE,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,...,3.700000e+04,3.900000e+04,5.200000e+04,60000.0,81000.0,44000.0,24000.0,55000.0,NaN,NaN
259,Somalia,SOM,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260,South Sudan,SSD,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
261,Sao Tome and Principe,STP,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,...,1.520000e+04,8.000000e+03,1.220000e+04,NaN,NaN,NaN,25600.0,29000.0,NaN,NaN
262,Syrian Arab Republic,SYR,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,...,6.092000e+06,8.546000e+06,5.070000e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263,Turkmenistan,TKM,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
264,Virgin Islands (U.S.),VIR,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,...,5.630000e+05,5.720000e+05,5.670000e+05,619000.0,590000.0,615000.0,642000.0,667000.0,NaN,NaN
265,Kosovo,XKX,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
266,"Yemen, Rep.",YEM,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,...,1.028000e+06,1.025000e+06,8.290000e+05,874000.0,990000.0,1017500.0,366700.0,NaN,NaN,NaN

In [ ]:
data.head(20)
#  we get first 20 rows here

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62
0,Last Updated Date,2019-03-21 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2.009000e+03,2.010000e+03,2.011000e+03,2.012000e+03,2.013000e+03,2.014000e+03,2.015000e+03,2.016000e+03,2.017000e+03,2018.0
3,World,WLD,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,...,8.975338e+08,9.563723e+08,9.975553e+08,1.054602e+09,1.106732e+09,1.159450e+09,1.206216e+09,1.250468e+09,1.341457e+09,NaN
4,High income,HIC,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,...,5.483952e+08,5.794189e+08,6.058485e+08,6.320718e+08,6.635699e+08,7.053862e+08,7.386434e+08,7.751152e+08,8.212955e+08,NaN
5,OECD members,OED,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,...,5.016400e+08,5.216800e+08,5.454750e+08,5.637250e+08,5.921553e+08,6.302726e+08,6.641770e+08,6.873700e+08,7.387490e+08,NaN
6,Post-demographic dividend,PST,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,...,4.944450e+08,5.187433e+08,5.428600e+08,5.691869e+08,5.987758e+08,6.194239e+08,6.475276e+08,6.862630e+08,7.311272e+08,NaN
7,Europe & Central Asia,ECS,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,...,4.681120e+08,4.805914e+08,5.127784e+08,5.386314e+08,5.677226e+08,5.797844e+08,6.038805e+08,6.159794e+08,6.695441e+08,NaN
8,IDA & IBRD total,IBT,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,...,3.732651e+08,4.030467e+08,4.206537e+08,4.534613e+08,4.749737e+08,4.869817e+08,5.027129e+08,5.136785e+08,5.615830e+08,NaN
9,European Union,EUU,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,...,3.629120e+08,3.718430e+08,3.919400e+08,4.021580e+08,4.212660e+08,4.421430e+08,4.637260e+08,4.846420e+08,5.226200e+08,NaN
10,Low & middle income,LMY,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,...,3.454081e+08,3.730252e+08,3.875833e+08,4.184368e+08,4.388586e+08,4.492654e+08,4.624424e+08,4.697637e+08,5.145594e+08,NaN
11,IBRD only,IBD,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,...,3.330352e+08,3.587956e+08,3.757577e+08,4.057366e+08,4.230343e+08,4.324700e+08,4.445258e+08,4.546777e+08,4.965330e+08,NaN
12,Middle income,MIC,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,...,3.234935e+08,3.475316e+08,3.639531e+08,3.938028e+08,4.132459e+08,4.232203e+08,4.365360e+08,4.427421e+08,4.852304e+08,NaN
13,Euro area,EMU,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,...,2.773910e+08,2.840180e+08,3.011880e+08,3.077890e+08,3.225120e+08,3.375130e+08,3.529070e+08,3.668870e+08,3.967020e+08,NaN
14,Upper middle income,UMC,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,...,2.333634e+08,2.494093e+08,2.664364e+08,2.861685e+08,2.981532e+08,3.100422e+08,3.201617e+08,3.238450e+08,3.479410e+08,NaN
15,Late-demographic dividend,LTE,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,...,2.117720e+08,2.252354e+08,2.413348e+08,2.578571e+08,2.710563e+08,2.768435e+08,2.884388e+08,2.959845e+08,3.153313e+08,NaN
16,East Asia & Pacific,EAS,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,...,1.728999e+08,1.950188e+08,2.068325e+08,2.214895e+08,2.361561e+08,2.490706e+08,2.634206e+08,2.837695e+08,3.005725e+08,NaN
17,Early-demographic dividend,EAR,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,...,1.598343e+08,1.777949e+08,1.763500e+08,1.887911e+08,1.965169e+08,2.204900e+08,2.250802e+08,2.198101e+08,2.449244e+08,NaN
18,Europe & Central Asia (IDA & IBRD countries),TEC,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,...,1.229726e+08,1.271616e+08,1.407380e+08,1.593510e+08,1.705850e+08,1.629208e+08,1.666552e+08,1.605925e+08,1.785439e+08,NaN
19,East Asia & Pacific (excluding high income),EAP,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,...,1.087681e+08,1.198494e+08,1.279925e+08,1.346313e+08,1.414257e+08,1.442557e+08,1.528948e+08,1.611166e+08,1.723021e+08,NaN

In [7]:
inbound_tourists = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/travel_data.xls", sheet_name="number_of_arrival", header=3, index_col=0)
inbound_tourists.head()

,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
Country Name,,,,,,,,,,,,,,,,,,,,,
World,WLD,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.975338e+08,9.563723e+08,9.975553e+08,1.054602e+09,1.106732e+09,1.159450e+09,1.206216e+09,1.250468e+09,1.341457e+09,NaN
High income,HIC,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.483952e+08,5.794189e+08,6.058485e+08,6.320718e+08,6.635699e+08,7.053862e+08,7.386434e+08,7.751152e+08,8.212955e+08,NaN
OECD members,OED,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.016400e+08,5.216800e+08,5.454750e+08,5.637250e+08,5.921553e+08,6.302726e+08,6.641770e+08,6.873700e+08,7.387490e+08,NaN
Post-demographic dividend,PST,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.944450e+08,5.187433e+08,5.428600e+08,5.691869e+08,5.987758e+08,6.194239e+08,6.475276e+08,6.862630e+08,7.311272e+08,NaN
Europe & Central Asia,ECS,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.681120e+08,4.805914e+08,5.127784e+08,5.386314e+08,5.677226e+08,5.797844e+08,6.038805e+08,6.159794e+08,6.695441e+08,NaN

In [8]:
inbound_tourists.tail(20)

,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
Country Name,,,,,,,,,,,,,,,,,,,,,
Liberia,LBR,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Libya,LBY,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Low income,LIC,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.986028e+07,2.352927e+07,2.122100e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN
St. Martin (French part),MAF,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Mauritania,MRT,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Nigeria,NGA,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.414000e+06,1.555000e+06,7.150000e+05,486000.0,600000.0,NaN,1255000.0,1889000.0,NaN,NaN
Nauru,NRU,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pakistan,PAK,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.550000e+05,9.070000e+05,1.161000e+06,966000.0,NaN,NaN,NaN,NaN,NaN,NaN
Papua New Guinea,PNG,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.210000e+05,1.400000e+05,1.580000e+05,168000.0,174000.0,182000.0,185000.0,179000.0,NaN,NaN
"Korea, Dem. People’s Rep.",PRK,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Rwanda,RWA,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.020000e+05,5.040000e+05,6.880000e+05,815000.0,864000.0,926000.0,987000.0,932000.0,NaN,NaN
Sierra Leone,SLE,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.700000e+04,3.900000e+04,5.200000e+04,60000.0,81000.0,44000.0,24000.0,55000.0,NaN,NaN
Somalia,SOM,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
South Sudan,SSD,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sao Tome and Principe,STP,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.520000e+04,8.000000e+03,1.220000e+04,NaN,NaN,NaN,25600.0,29000.0,NaN,NaN
Syrian Arab Republic,SYR,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.092000e+06,8.546000e+06,5.070000e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Turkmenistan,TKM,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Virgin Islands (U.S.),VIR,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.630000e+05,5.720000e+05,5.670000e+05,619000.0,590000.0,615000.0,642000.0,667000.0,NaN,NaN
Kosovo,XKX,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Yemen, Rep.",YEM,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.028000e+06,1.025000e+06,8.290000e+05,874000.0,990000.0,1017500.0,366700.0,NaN,NaN,NaN

In [ ]:
inbound_tourists.groupby(['Country Name'])
print(inbound_tourists.groupby(['Country Name']).groups)
# we get all countries in groups

{'Afghanistan': ['Afghanistan'], 'Albania': ['Albania'], 'Algeria': ['Algeria'], 'American Samoa': ['American Samoa'], 'Andorra': ['Andorra'], 'Angola': ['Angola'], 'Antigua and Barbuda': ['Antigua and Barbuda'], 'Arab World': ['Arab World'], 'Argentina': ['Argentina'], 'Armenia': ['Armenia'], 'Aruba': ['Aruba'], 'Australia': ['Australia'], 'Austria': ['Austria'], 'Azerbaijan': ['Azerbaijan'], 'Bahamas, The': ['Bahamas, The'], 'Bahrain': ['Bahrain'], 'Bangladesh': ['Bangladesh'], 'Barbados': ['Barbados'], 'Belarus': ['Belarus'], 'Belgium': ['Belgium'], 'Belize': ['Belize'], 'Benin': ['Benin'], 'Bermuda': ['Bermuda'], 'Bhutan': ['Bhutan'], 'Bolivia': ['Bolivia'], 'Bosnia and Herzegovina': ['Bosnia and Herzegovina'], 'Botswana': ['Botswana'], 'Brazil': ['Brazil'], 'British Virgin Islands': ['British Virgin Islands'], 'Brunei Darussalam': ['Brunei Darussalam'], 'Bulgaria': ['Bulgaria'], 'Burkina Faso': ['Burkina Faso'], 'Burundi': ['Burundi'], 'Cabo Verde': ['Cabo Verde'], 'Cambodia': ['Cambodia'], 'Cameroon': ['Cameroon'], 'Canada': ['Canada'], 'Caribbean small states': ['Caribbean small states'], 'Cayman Islands': ['Cayman Islands'], 'Central African Republic': ['Central African Republic'], 'Central Europe and the Baltics': ['Central Europe and the Baltics'], 'Chad': ['Chad'], 'Channel Islands': ['Channel Islands'], 'Chile': ['Chile'], 'China': ['China'], 'Colombia': ['Colombia'], 'Comoros': ['Comoros'], 'Congo, Dem. Rep.': ['Congo, Dem. Rep.'], 'Congo, Rep.': ['Congo, Rep.'], 'Costa Rica': ['Costa Rica'], 'Cote d'Ivoire': ['Cote d'Ivoire'], 'Croatia': ['Croatia'], 'Cuba': ['Cuba'], 'Curacao': ['Curacao'], 'Cyprus': ['Cyprus'], 'Czech Republic': ['Czech Republic'], 'Denmark': ['Denmark'], 'Djibouti': ['Djibouti'], 'Dominica': ['Dominica'], 'Dominican Republic': ['Dominican Republic'], 'Early-demographic dividend': ['Early-demographic dividend'], 'East Asia & Pacific': ['East Asia & Pacific'], 'East Asia & Pacific (IDA & IBRD countries)': ['East Asia & Pacific (IDA & IBRD countries)'], 'East Asia & Pacific (excluding high income)': ['East Asia & Pacific (excluding high income)'], 'Ecuador': ['Ecuador'], 'Egypt, Arab Rep.': ['Egypt, Arab Rep.'], 'El Salvador': ['El Salvador'], 'Equatorial Guinea': ['Equatorial Guinea'], 'Eritrea': ['Eritrea'], 'Estonia': ['Estonia'], 'Eswatini': ['Eswatini'], 'Ethiopia': ['Ethiopia'], 'Euro area': ['Euro area'], 'Europe & Central Asia': ['Europe & Central Asia'], 'Europe & Central Asia (IDA & IBRD countries)': ['Europe & Central Asia (IDA & IBRD countries)'], 'Europe & Central Asia (excluding high income)': ['Europe & Central Asia (excluding high income)'], 'European Union': ['European Union'], 'Faroe Islands': ['Faroe Islands'], 'Fiji': ['Fiji'], 'Finland': ['Finland'], 'Fragile and conflict affected situations': ['Fragile and conflict affected situations'], 'France': ['France'], 'French Polynesia': ['French Polynesia'], 'Gabon': ['Gabon'], 'Gambia, The': ['Gambia, The'], 'Georgia': ['Georgia'], 'Germany': ['Germany'], 'Ghana': ['Ghana'], 'Gibraltar': ['Gibraltar'], 'Greece': ['Greece'], 'Greenland': ['Greenland'], 'Grenada': ['Grenada'], 'Guam': ['Guam'], 'Guatemala': ['Guatemala'], 'Guinea': ['Guinea'], 'Guinea-Bissau': ['Guinea-Bissau'], 'Guyana': ['Guyana'], 'Haiti': ['Haiti'], 'Heavily indebted poor countries (HIPC)': ['Heavily indebted poor countries (HIPC)'], 'High income': ['High income'], ...}

In [9]:
data=inbound_tourists.iloc[2]
# here we retrive the first column

In [ ]:
data

Country Code                                            WLD
Indicator Name    International tourism, number of arrivals
Indicator Code                                  ST.INT.ARVL
1960                                                    NaN
1961                                                    NaN
                                    ...
2014                                      1159450156.342449
2015                                      1206215744.423386
2016                                      1250467517.255382
2017                                      1341456973.643252
2018                                                    NaN
Name: World, Length: 62, dtype: object

In [10]:
data=inbound_tourists.iloc[5:10]

data

,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
Country Name,,,,,,,,,,,,,,,,,,,,,
IDA & IBRD total,IBT,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.732651e+08,4.030467e+08,4.206537e+08,4.534613e+08,4.749737e+08,4.869817e+08,5.027129e+08,5.136785e+08,5.615830e+08,NaN
European Union,EUU,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.629120e+08,3.718430e+08,3.919400e+08,4.021580e+08,4.212660e+08,4.421430e+08,4.637260e+08,4.846420e+08,5.226200e+08,NaN
Low & middle income,LMY,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.454081e+08,3.730252e+08,3.875833e+08,4.184368e+08,4.388586e+08,4.492654e+08,4.624424e+08,4.697637e+08,5.145594e+08,NaN
IBRD only,IBD,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.330352e+08,3.587956e+08,3.757577e+08,4.057366e+08,4.230343e+08,4.324700e+08,4.445258e+08,4.546777e+08,4.965330e+08,NaN
Middle income,MIC,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.234935e+08,3.475316e+08,3.639531e+08,3.938028e+08,4.132459e+08,4.232203e+08,4.365360e+08,4.427421e+08,4.852304e+08,NaN

In [12]:
data.fillna(50)
# fillna() method used to replace the  null values to the specific values.

,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
Country Name,,,,,,,,,,,,,,,,,,,,,
IDA & IBRD total,IBT,"International tourism, number of arrivals",ST.INT.ARVL,50.0,50.0,50.0,50.0,50.0,50.0,50.0,...,3.732651e+08,4.030467e+08,4.206537e+08,4.534613e+08,4.749737e+08,4.869817e+08,5.027129e+08,5.136785e+08,5.615830e+08,50.0
European Union,EUU,"International tourism, number of arrivals",ST.INT.ARVL,50.0,50.0,50.0,50.0,50.0,50.0,50.0,...,3.629120e+08,3.718430e+08,3.919400e+08,4.021580e+08,4.212660e+08,4.421430e+08,4.637260e+08,4.846420e+08,5.226200e+08,50.0
Low & middle income,LMY,"International tourism, number of arrivals",ST.INT.ARVL,50.0,50.0,50.0,50.0,50.0,50.0,50.0,...,3.454081e+08,3.730252e+08,3.875833e+08,4.184368e+08,4.388586e+08,4.492654e+08,4.624424e+08,4.697637e+08,5.145594e+08,50.0
IBRD only,IBD,"International tourism, number of arrivals",ST.INT.ARVL,50.0,50.0,50.0,50.0,50.0,50.0,50.0,...,3.330352e+08,3.587956e+08,3.757577e+08,4.057366e+08,4.230343e+08,4.324700e+08,4.445258e+08,4.546777e+08,4.965330e+08,50.0
Middle income,MIC,"International tourism, number of arrivals",ST.INT.ARVL,50.0,50.0,50.0,50.0,50.0,50.0,50.0,...,3.234935e+08,3.475316e+08,3.639531e+08,3.938028e+08,4.132459e+08,4.232203e+08,4.365360e+08,4.427421e+08,4.852304e+08,50.0

In [19]:
data=inbound_tourists.iloc[5:10]
data

,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
Country Name,,,,,,,,,,,,,,,,,,,,,
IDA & IBRD total,IBT,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.732651e+08,4.030467e+08,4.206537e+08,4.534613e+08,4.749737e+08,4.869817e+08,5.027129e+08,5.136785e+08,5.615830e+08,NaN
European Union,EUU,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.629120e+08,3.718430e+08,3.919400e+08,4.021580e+08,4.212660e+08,4.421430e+08,4.637260e+08,4.846420e+08,5.226200e+08,NaN
Low & middle income,LMY,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.454081e+08,3.730252e+08,3.875833e+08,4.184368e+08,4.388586e+08,4.492654e+08,4.624424e+08,4.697637e+08,5.145594e+08,NaN
IBRD only,IBD,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.330352e+08,3.587956e+08,3.757577e+08,4.057366e+08,4.230343e+08,4.324700e+08,4.445258e+08,4.546777e+08,4.965330e+08,NaN
Middle income,MIC,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.234935e+08,3.475316e+08,3.639531e+08,3.938028e+08,4.132459e+08,4.232203e+08,4.365360e+08,4.427421e+08,4.852304e+08,NaN

In [26]:
import numpy as np

In [28]:
# data.replace(to_replace=np.nan,values=-99)
data.fillna(method='Pad')

,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
Country Name,,,,,,,,,,,,,,,,,,,,,
IDA & IBRD total,IBT,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.732651e+08,4.030467e+08,4.206537e+08,4.534613e+08,4.749737e+08,4.869817e+08,5.027129e+08,5.136785e+08,5.615830e+08,NaN
European Union,EUU,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.629120e+08,3.718430e+08,3.919400e+08,4.021580e+08,4.212660e+08,4.421430e+08,4.637260e+08,4.846420e+08,5.226200e+08,NaN
Low & middle income,LMY,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.454081e+08,3.730252e+08,3.875833e+08,4.184368e+08,4.388586e+08,4.492654e+08,4.624424e+08,4.697637e+08,5.145594e+08,NaN
IBRD only,IBD,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.330352e+08,3.587956e+08,3.757577e+08,4.057366e+08,4.230343e+08,4.324700e+08,4.445258e+08,4.546777e+08,4.965330e+08,NaN
Middle income,MIC,"International tourism, number of arrivals",ST.INT.ARVL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.234935e+08,3.475316e+08,3.639531e+08,3.938028e+08,4.132459e+08,4.232203e+08,4.365360e+08,4.427421e+08,4.852304e+08,NaN