<a href="https://colab.research.google.com/github/Sushant6862/Jeremy-Howard-Squadron-/blob/main/Flow_stmt_Homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework

In [ ]:
# Write a Program to find Biggest of given 3 Numbers from the Commad Prompt?

n1=int(input("EnterFirstNumber:"))
n2=int(input("EnterSecondNumber:"))
n3=int(input("EnterThirdNumber"))
if n1>n2:
  print("Biggest Number is:",n1)
elif n2>n3:
  print("Biggest Number is:",n2)
else:
  print("Biggest Number is:",n3)

EnterFirstNumber:25
EnterSecondNumber:20
EnterThirdNumber22
Biggest Number is: 25

In [ ]:
# Write a program to find smallest of given 2 numbers?
n1=int(input("EnterFirstNumber:"))
n2=int(input("EnterSecondNumber:"))
Minimun=min(n1,n2)
print("Smallest number is:",Minimun)

EnterFirstNumber:5
EnterSecondNumber:10
Smallest number is: 5

In [ ]:
# Write a program to find smallest of given 3 numbers?
n1=int(input("EnterFirstNumber:"))
n2=int(input("EnterSecondNumber:"))
n3=int(input("EnterThirdNumber"))
if n1<n2 and n1<n3:
  print("Smallest Number is:",n1)
elif n2<n3:
  print("Smallest Number is:",n2)
else:
  print("Smallest Number is:",n3)

EnterFirstNumber:20
EnterSecondNumber:10
EnterThirdNumber30
Smallest Number is: 10

In [ ]:
# Write a program to check whether the given number is even or odd?
n1=int(input("EnterFirstNumber:"))
if (n1%2==0):
  print("Number is Even")
else:
    print("Number is Odd")

EnterFirstNumber:5
Number is Odd

In [ ]:
# Write a Program to dispaly *'s in Right Angled Triangled Form
x=int(input("Enter row number=\n"))
for i in range(x):
    for j in range(i+1):
        print("#",end='')
    print("")

Enter row number=
5
#
##
###
####
#####

# Mock Interview Question

In [4]:
# Largest Element in the list
n=[10,20,30,20,50]
print("The maximun number is:",max(n))

The maximun number is: 50

In [5]:
n.sort()
print(n[-1])

50

In [6]:
# Python3 program to swap first
# and last element of a list

# Swap function
def swapList(newList):
    size = len(newList)

    # Swapping
    temp = newList[0]
    newList[0] = newList[size - 1]
    newList[size - 1] = temp

    return newList

# Driver code
newList = [12, 35, 9, 56, 24]

print(swapList(newList))

[24, 35, 9, 56, 12]

In [13]:
def swapList(newList):

    newList[0], newList[-1] = newList[-1], newList[0]

    return newList

# Driver code
newList = [12, 35, 9, 56, 24]
print(swapList(newList))

[24, 35, 9, 56, 12]

In [14]:
# length of list
n=[10,20,30,40]
print(len(n))

4

In [15]:
# reverse of list
n.reverse()
print(n)

[40, 30, 20, 10]

In [18]:
#  occurance of list
n1=[1,2,2,2,2,3,3,3]
print(n1.count(1))
print(n1.count(2))
print(n1.count(3))

1
4
3

In [19]:
# # Python program to find sum of elements in list
list1 = [11, 5, 17, 18, 23]
total=0
for i in range(0, len(list1)):
    total = total + list1[i]

# printing total value
print("Sum of all elements in given list: ", total)

Sum of all elements in given list:  74

In [23]:
#  Python program to find sum of elements in list
from operator import*
list1 = [ 1,2, 3,4]
m = 1
for i in list1:
  # multiplying all elements in the given list
  # using mul function of operator module
    m = mul(i, m)
# printing the result
print(m)

24

In [24]:
import math
list1 = [1, 2, 3]
# list2 = [3, 2, 4]


result1 = math.prod(list1)
# result2 = math.prod(list2)
print(result1)
# print(result2)

6

In [25]:
#  Maximun and minimun without using inbulit method
n=[1,2,4,6,5,8,10]
n.sort()
print("max:",n[-1],"Min:",n[0])

max: 10 Min: 1

In [28]:
max=n[0]
min=n[0]
for i in n:
  if i>max:
    max=i
if i <min:
  min=i

print("max:",max,"Min:",min)

max: 10 Min: 1

In [30]:
# # Python3 program to swap elements
# at given positions

# Swap function
def swapPositions(list, pos1, pos2):

    list[pos1], list[pos2] = list[pos2], list[pos1]
    return list

# Driver function
List = [23, 65, 19, 90]
pos1, pos2  = 2, 4

print(swapPositions(List, pos1-1, pos2-1))

[23, 90, 19, 65]

In [31]:
# Area of circle:
π = 3.14
Radius = float (input ("Please enter the radius of the given circle: "))
area_of_the_circle = π * Radius * Radius
print (" The area of the given circle is: ", area_of_the_circle)

Please enter the radius of the given circle: 4
 The area of the given circle is:  50.24

In [32]:
import math as M
Radius = float (input ("Please enter the radius of the given circle: "))
area_of_the_circle = M.pi* Radius * Radius
print (" The area of the given circle is: ", area_of_the_circle)

Please enter the radius of the given circle: 4
 The area of the given circle is:  50.26548245743669

In [33]:
import math
def area(r):
  area = math.pi* pow(r,2)
  return print('Area of circle is:' ,area)
area(4)

Area of circle is: 50.26548245743669

In [34]:
def findArea(r):
    PI = 3.142
    return PI * (r*r);

# Driver method
print("Area is %.6f" % findArea(5));

Area is 78.550000