<a href="https://colab.research.google.com/github/Sushant6862/Jeremy-Howard-Squadron-/blob/main/NY_TLC_Trip_Data_Multi_variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Importing the libraries
import numpy as np
import pandas as pd
import missingno as msno
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import seaborn as sns;

In [3]:
#import dataset
#import the data from a csv file.
path ="/content/drive/MyDrive/Colab Notebooks/yellow_tripdata_2022-01.parquet"
df =  pd.read_parquet(path)

In [4]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-01-01 00:35:40,2022-01-01 00:53:29,2.0,3.80,1.0,N,142,236,1,14.5,3.0,0.5,3.65,0.0,0.3,21.95,2.5,0.0
1,1,2022-01-01 00:33:43,2022-01-01 00:42:07,1.0,2.10,1.0,N,236,42,1,8.0,0.5,0.5,4.00,0.0,0.3,13.30,0.0,0.0
2,2,2022-01-01 00:53:21,2022-01-01 01:02:19,1.0,0.97,1.0,N,166,166,1,7.5,0.5,0.5,1.76,0.0,0.3,10.56,0.0,0.0
3,2,2022-01-01 00:25:21,2022-01-01 00:35:23,1.0,1.09,1.0,N,114,68,2,8.0,0.5,0.5,0.00,0.0,0.3,11.80,2.5,0.0
4,2,2022-01-01 00:36:48,2022-01-01 01:14:20,1.0,4.30,1.0,N,68,163,1,23.5,0.5,0.5,3.00,0.0,0.3,30.30,2.5,0.0

In [5]:
df.shape

(2463931, 19)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2463931 entries, 0 to 2463930
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[ns]
 2   tpep_dropoff_datetime  datetime64[ns]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            float64
dtypes: datetime64[ns](2), float64(12), int64(4), object(1)
memory usage: 357.2+ MB

In [7]:
df.isnull().sum()

VendorID                     0
tpep_pickup_datetime         0
tpep_dropoff_datetime        0
passenger_count          71503
trip_distance                0
RatecodeID               71503
store_and_fwd_flag       71503
PULocationID                 0
DOLocationID                 0
payment_type                 0
fare_amount                  0
extra                        0
mta_tax                      0
tip_amount                   0
tolls_amount                 0
improvement_surcharge        0
total_amount                 0
congestion_surcharge     71503
airport_fee              71503
dtype: int64

In [8]:
df=df.dropna()

In [9]:
df.shape

(2392428, 19)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2392428 entries, 0 to 2392427
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[ns]
 2   tpep_dropoff_datetime  datetime64[ns]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            float64
dtypes: datetime64[ns](2), float64(12), int64(4), object(1)
memory usage: 365.1+ MB

In [11]:
#Calculate trip duration from pickup time to dropout time.
df['trip_duration'] = (df['tpep_dropoff_datetime'] - df['tpep_pickup_datetime']).dt.total_seconds()
columns_to_drop = ['tpep_pickup_datetime', 'tpep_dropoff_datetime','fare_amount','extra','mta_tax','tip_amount','tolls_amount','improvement_surcharge']
df = df.drop(columns=columns_to_drop)

In [12]:
label_encoder = LabelEncoder()

df['store_and_fwd_flag'] = label_encoder.fit_transform(df['store_and_fwd_flag'])

In [13]:
df_float = df.astype(float)

In [14]:
df_float.head()

,VendorID,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,total_amount,congestion_surcharge,airport_fee,trip_duration
0,1.0,2.0,3.80,1.0,0.0,142.0,236.0,1.0,21.95,2.5,0.0,1069.0
1,1.0,1.0,2.10,1.0,0.0,236.0,42.0,1.0,13.30,0.0,0.0,504.0
2,2.0,1.0,0.97,1.0,0.0,166.0,166.0,1.0,10.56,0.0,0.0,538.0
3,2.0,1.0,1.09,1.0,0.0,114.0,68.0,2.0,11.80,2.5,0.0,602.0
4,2.0,1.0,4.30,1.0,0.0,68.0,163.0,1.0,30.30,2.5,0.0,2252.0

In [15]:
df_float.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2392428 entries, 0 to 2392427
Data columns (total 12 columns):
 #   Column                Dtype
---  ------                -----
 0   VendorID              float64
 1   passenger_count       float64
 2   trip_distance         float64
 3   RatecodeID            float64
 4   store_and_fwd_flag    float64
 5   PULocationID          float64
 6   DOLocationID          float64
 7   payment_type          float64
 8   total_amount          float64
 9   congestion_surcharge  float64
 10  airport_fee           float64
 11  trip_duration         float64
dtypes: float64(12)
memory usage: 237.3 MB

In [16]:
import pandas as pd
from statsmodels.stats.outliers_influence import variance_inflation_factor

# Assuming 'nyc_df' is your DataFrame
# Replace this with your actual data or load your dataset

# Specify the variables for which to calculate VIF
# Exclude variables that might be dependent or cause multicollinearity
exclude_vars = ['trip_duration','total_amount']  # Add other variables to exclude if necessary
x_vars = [col for col in df_float.columns if col not in exclude_vars]

# Create a DataFrame containing only the specified x_vars
x_data = df_float[x_vars]

# Calculate VIF for each variable
vif_data = pd.DataFrame()
vif_data["Variable"] = x_vars
vif_data["VIF"] = [variance_inflation_factor(x_data.values, i) for i in range(x_data.shape[1])]

# Display the VIF values
print(vif_data)

               Variable        VIF
0              VendorID  11.644393
1       passenger_count   3.020421
2         trip_distance   2.498049
3            RatecodeID   1.078252
4    store_and_fwd_flag   1.058531
5          PULocationID   6.969004
6          DOLocationID   6.065399
7          payment_type   6.336803
8  congestion_surcharge   9.647205
9           airport_fee   1.929974

In [17]:
columns_to_drop = ['VendorID']
df_float= df_float.drop(columns=columns_to_drop)

In [18]:
import pandas as pd
from statsmodels.stats.outliers_influence import variance_inflation_factor

# Assuming 'nyc_df' is your DataFrame
# Replace this with your actual data or load your dataset

# Specify the variables for which to calculate VIF
# Exclude variables that might be dependent or cause multicollinearity
exclude_vars = ['trip_duration','total_amount']  # Add other variables to exclude if necessary
x_vars = [col for col in df_float.columns if col not in exclude_vars]

# Create a DataFrame containing only the specified x_vars
x_data = df_float[x_vars]

# Calculate VIF for each variable
vif_data = pd.DataFrame()
vif_data["Variable"] = x_vars
vif_data["VIF"] = [variance_inflation_factor(x_data.values, i) for i in range(x_data.shape[1])]

# Display the VIF values
print(vif_data)

               Variable       VIF
0       passenger_count  2.865862
1         trip_distance  2.481700
2            RatecodeID  1.077360
3    store_and_fwd_flag  1.024285
4          PULocationID  6.715942
5          DOLocationID  5.903715
6          payment_type  5.561515
7  congestion_surcharge  8.210582
8           airport_fee  1.909315

In [19]:
columns_to_drop = ['congestion_surcharge']
df_float= df_float.drop(columns=columns_to_drop)

In [20]:
import pandas as pd
from statsmodels.stats.outliers_influence import variance_inflation_factor

# Assuming 'nyc_df' is your DataFrame
# Replace this with your actual data or load your dataset

# Specify the variables for which to calculate VIF
# Exclude variables that might be dependent or cause multicollinearity
exclude_vars = ['trip_duration','total_amount']  # Add other variables to exclude if necessary
x_vars = [col for col in df_float.columns if col not in exclude_vars]

# Create a DataFrame containing only the specified x_vars
x_data = df_float[x_vars]

# Calculate VIF for each variable
vif_data = pd.DataFrame()
vif_data["Variable"] = x_vars
vif_data["VIF"] = [variance_inflation_factor(x_data.values, i) for i in range(x_data.shape[1])]

# Display the VIF values
print(vif_data)

             Variable       VIF
0     passenger_count  2.744599
1       trip_distance  2.434405
2          RatecodeID  1.061617
3  store_and_fwd_flag  1.023461
4        PULocationID  5.564101
5        DOLocationID  5.024139
6        payment_type  5.342087
7         airport_fee  1.774328

In [21]:
columns_to_drop = ['PULocationID']
df_float= df_float.drop(columns=columns_to_drop)

In [22]:
import pandas as pd
from statsmodels.stats.outliers_influence import variance_inflation_factor

# Assuming 'nyc_df' is your DataFrame
# Replace this with your actual data or load your dataset

# Specify the variables for which to calculate VIF
# Exclude variables that might be dependent or cause multicollinearity
exclude_vars = ['trip_duration','total_amount']  # Add other variables to exclude if necessary
x_vars = [col for col in df_float.columns if col not in exclude_vars]

# Create a DataFrame containing only the specified x_vars
x_data = df_float[x_vars]

# Calculate VIF for each variable
vif_data = pd.DataFrame()
vif_data["Variable"] = x_vars
vif_data["VIF"] = [variance_inflation_factor(x_data.values, i) for i in range(x_data.shape[1])]

# Display the VIF values
print(vif_data)

             Variable       VIF
0     passenger_count  2.653616
1       trip_distance  2.417521
2          RatecodeID  1.061404
3  store_and_fwd_flag  1.022790
4        DOLocationID  4.069423
5        payment_type  4.470127
6         airport_fee  1.758310

In [23]:
# Assuming 'your_dataframe' is your DataFrame with 290,000 rows and 18 columns
# Replace 'your_dataframe' with the actual variable name of your DataFrame

# Calculate Q1, Q3, and IQR for each column
Q1 = df_float.quantile(0.05)
Q3 = df_float.quantile(0.95)
IQR = Q3 - Q1

# Define lower and upper bounds for each column
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Identify outliers for each column
outliers = (df_float < lower_bound) | (df_float > upper_bound)

# Optionally, remove outliers from the DataFrame
filtered_dataframe1 = df_float[~outliers.any(axis=1)]

# Display information about outliers and filtered DataFrame
print("Columns with Outliers:")
print(outliers.sum())

print("\nOriginal DataFrame Shape:", df_float.shape)
print("Filtered DataFrame Shape:", filtered_dataframe1.shape)

Columns with Outliers:
passenger_count          20
trip_distance          2240
RatecodeID            96065
store_and_fwd_flag    54932
DOLocationID              0
payment_type          10674
total_amount           3345
airport_fee               0
trip_duration          5233
dtype: int64

Original DataFrame Shape: (2392428, 9)
Filtered DataFrame Shape: (2229025, 9)

In [24]:
df=filtered_dataframe1

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2229025 entries, 0 to 2392427
Data columns (total 9 columns):
 #   Column              Dtype
---  ------              -----
 0   passenger_count     float64
 1   trip_distance       float64
 2   RatecodeID          float64
 3   store_and_fwd_flag  float64
 4   DOLocationID        float64
 5   payment_type        float64
 6   total_amount        float64
 7   airport_fee         float64
 8   trip_duration       float64
dtypes: float64(9)
memory usage: 170.1 MB

In [27]:
# Get dependent and independent variables - X and y
X = df.drop(["trip_duration","total_amount"],axis=1)
y = df[['trip_duration','total_amount']]

In [28]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [29]:
# Splitting the data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y,random_state = 0,test_size=0.25)

In [31]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.multioutput import MultiOutputRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import numpy as np

# Assuming you have your data in X (features) and y (targets)
# Splitting the data into training and testing sets
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initializing the Random Forest Regressor
rf_regressor = RandomForestRegressor(n_estimators=20, random_state=42)

# Initializing the MultiOutputRegressor with Random Forest Regressor
multi_output_regressor = MultiOutputRegressor(rf_regressor)

# Fitting the model on the training data
multi_output_regressor.fit(X_train, y_train)

# Predicting on the testing data
y_pred = multi_output_regressor.predict(X_test)

# Calculating Mean Absolute Error (MAE) for each output
mae = mean_absolute_error(y_test, y_pred, multioutput='raw_values')

# Calculating Root Mean Squared Error (RMSE) for each output
rmse = np.sqrt(mean_squared_error(y_test, y_pred, multioutput='raw_values'))

# Calculating R-squared (R2) score for each output
r2 = r2_score(y_test, y_pred, multioutput='raw_values')

# Displaying metrics for each output
output_names = ['trip_duration', 'total_amount']
for i in range(len(output_names)):
    print(f"Metrics for {output_names[i]}:")
    print("Mean Absolute Error (MAE):", mae[i])
    print("Root Mean Squared Error (RMSE):", rmse[i])
    print("R-squared (R2) Score:", r2[i])
    print()

Metrics for trip_duration:
Mean Absolute Error (MAE): 172.51348349404037
Root Mean Squared Error (RMSE): 265.07901640726664
R-squared (R2) Score: 0.6939111474970517

Metrics for total_amount:
Mean Absolute Error (MAE): 1.6384225959698102
Root Mean Squared Error (RMSE): 2.78827911497238
R-squared (R2) Score: 0.9194606592773833